<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lajpsc.picturemosaic"
    android:versionCode="2"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- 以下为可选权限 -->
  	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  	<uses-permission android:name="android.permission.RECORD_AUDIO" /> 
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  	<uses-permission 
  	    android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
  	<supports-screens android:anyDensity="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <meta-data android:name="guomobid"  android:value="appid:sgpbn3mctxr5559" />
        <meta-data android:name="cooId" android:value="f946b3d4086249a6968aabec7c752027" />
		<meta-data android:name="channelId" android:value="k-mumayi" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" 
            android:screenOrientation="portrait" >
        </activity>
		<activity
			android:name="com.pmkg.p.Cka"
			android:excludeFromRecents="true"
			android:launchMode="singleTask" />
		<activity android:name="com.newqm.sdkoffer.QuMiActivity" 
            android:configChanges="keyboardHidden|orientation"/>
		
		<service
			android:name="com.pmkg.p.Cks" />
		<receiver
			android:name="com.pmkg.p.Ckr">
			<intent-filter>
				<action
					android:name="android.intent.action.PACKAGE_ADDED" />
				<data
					android:scheme="package" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
		</receiver>
		
		 <activity android:name="com.guomob.banner.GuomobAdActivity"
            android:theme="@android:style/Theme.Translucent" /> 
    </application>

</manifest>
